:root {
    --primary: #b6895b;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg);
    color: #fff;
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);

}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/*Hero Section*/
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/hero-coffee.jpg');
    background-size: cover;
    background-position: center;
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: #fff;
    background-color: var(--primary);
    font-size: 1.4rem;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*About Section*/
.about {
    padding: 8rem 7% 1.4rem 7%;
}

.about h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
}

/*menu*/
.menu {
    padding: 8rem 7% 1.4rem 7%;
}

.menu h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.menu h2 span {
    color: var(--primary);
}

.menu p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    padding-bottom: 2rem;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 70%;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1.5rem;
}

.menu .row .menu-card .menu-card-price {
    margin: 1rem auto 0.5rem;
}

/*Contact*/
.contact {
    padding: 8rem 7% 1.4rem 7%;
}

.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.contact h2 span {
    color: var(--primary);
}

.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

.contact .row .map {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.contact .row form {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    background: none;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
}

.contact .row form .btn {
    display: inline-block;
    color: #fff;
    background-color: var(--primary);
    margin-top: 3rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
}

/*Footer*/
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    margin: 1rem;
    color: #fff;
}

footer .socials a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .links a:hover {
    color: var(--bg);
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit p a {
    color: var(--bg);
    font-weight: 700;
}

/*laptop*/
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }

    .menu p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding: 0;
    }
}

/*Mobile Phone*/
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        color: var(--bg);
        font-size: 1.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }
}
