:root {
    --primary: #b6895b;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--bg);
    color: #fff;
}

/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);

}

.navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

.navbar .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 7%;
    width: 50rem;
    height: 5rem;
    background-color: #fff;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    width: 100%;
    height: 100%;
    color: var(--bg);
    font-size: 1.6rem;
    padding: 1rem;
}

.navbar .search-form label {
    color: var(--bg);
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

/*shopping-cart/*/
.navbar .shopping-cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: 100vh;
    width: 35rem;
    background-color: #fff;
    padding: 0 1.5rem;
    color: var(--bg);
    transition: 0.3s linear;
}

.navbar .shopping-cart.active {
    right: 0;
}

.navbar .shopping-cart .cart-item {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
    position: relative;
}

.navbar .shopping-cart img {
    height: 6rem;
    border-radius: 50%;
}

.navbar .shopping-cart h3 {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}

.navbar .shopping-cart .item-price {
    font-size: 1.2rem;
}

.navbar .shopping-cart .remove-item {
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.navbar .shopping-cart .remove-item:hover {
    color: var(--primary);
}



/*Hero Section*/
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/hero-coffee.jpg');
    background-size: cover;
    background-position: center;
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: var(--primary);
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: #fff;
    background-color: var(--primary);
    font-size: 1.4rem;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*About Section*/
.about {
    padding: 8rem 7% 1.4rem 7%;
}

.about h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
}

/*menu*/
.menu {
    padding: 8rem 7% 1.4rem 7%;
}

.menu h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.menu h2 span {
    color: var(--primary);
}

.menu p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.menu .row .menu-card {
    text-align: center;
    padding-bottom: 2rem;
}

.menu .row .menu-card img {
    border-radius: 50%;
    width: 70%;
}

.menu .row .menu-card .menu-card-title {
    margin-top: 1.5rem;
}

.menu .row .menu-card .menu-card-price {
    margin: 1rem auto 0.5rem;
}

/*Products*/
.products {
    padding: 8rem 7% 1.4rem 7%;
}

.products h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.products h2 span {
    color: var(--primary);
}

.products p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.products .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 4rem;
}

.products .product-card {
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
}

.products .product-card .product-icons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.products .product-card .product-icons a {
    width: 4rem;
    height: 4rem;
    color: #fff;
    margin: 0.3rem;
    border: 1px solid #666;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.products .product-card .product-icons a:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.products .product-card .product-image {
    padding: 1rem 0;
}

.products .product-card .product-image img {
    height: 25rem;
}

.products .product-card .product-content h3 {
    font-size: 2rem;
}

.products .product-stars {
    font-size: 1.7rem;
    padding: 0.8rem;
    color: var(--primary);
}

.products .product-card .product-stars .star-full {
    fill: var(--primary);
}

.products .product-card .product-price {
    font-size: 1.3rem;
    font-weight: bold;
}


.products .product-card .product-price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1rem;
}
/*Contact*/
.contact {
    padding: 8rem 7% 1.4rem 7%;
}

.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.contact h2 span {
    color: var(--primary);
}

.contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

.contact .row .map {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.contact .row form {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    background: none;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
}

.contact .row form .btn {
    display: inline-block;
    color: #fff;
    background-color: var(--primary);
    margin-top: 3rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
}

/*Footer*/
footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;
}

footer .socials a {
    margin: 1rem;
    color: #fff;
}

footer .socials a:hover {
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .links a:hover {
    color: var(--bg);
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit p a {
    color: var(--bg);
    font-weight: 700;
}

/*Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    animation: animateModal 0.5s;
}

/*Modal Animasi*/
@keyframes animateModal {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.modal .modal-container {
    position: relative;
    background-color: #fefefe;
    color: var(--bg);
    margin: 15% auto;
    padding: 1rem;
    width: 80%;
    border: 1px solid #666;
}

.modal-container .close-icon {
    position: absolute;
    right: 1rem;
}

.modal-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.modal-content img {
    height: 10rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.modal-content p {
    font-size: 1.1rem;
    margin-top: 1rem;
}

.modal-content a {
    display: flex;
    gap: 1rem;
    width: 12rem;
    background-color: var(--primary);
    color: #fff;
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    align-items: center;
}

.modal .product-stars {
    font-size: 1.7rem;
    padding: 0.8rem;
    color: var(--primary);
}

.modal .product-stars .star-full {
    fill: var(--primary);
}

/*laptop*/
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/*Tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }

    .menu p {
        font-size: 1.2rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding: 0;
    }

    .modal-content {
        flex-wrap: wrap;
    }
}

/*Mobile Phone*/
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        color: var(--bg);
        font-size: 1.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: left;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .search-form {
        width: 40rem;
    }
}

